<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Service BLIN</a>
        <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item dropdown" (click)="isPriceListCollapsed = !isPriceListCollapsed">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Price list
                    </a>
                    <ul class="dropdown-menu" [ngbCollapse]="isPriceListCollapsed">
                        <li><a class="dropdown-item" routerLink="/installation">Installation</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="/repair">Repair</a></li>
                    </ul>
                </li> -->
                <li class="nav-item" (click)="isPriceListCollapsed = true">
                    <a class="nav-link" routerLink="/price" *ngIf="!isAdmin">Price List</a>
                </li>
                <li class="nav-item" (click)="isPriceListCollapsed = true">
                    <a class="nav-link" routerLink="/order" *ngIf="isSignedIn && isUser">Create order</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/show" *ngIf="isSignedIn && isUser">Show my orders</a>
                </li>
                <li class="nav-item" (click)="isPriceListCollapsed = true">
                    <a class="nav-link" routerLink="/contact" *ngIf="!isAdmin">Contact with us</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/showcompletedorders" *ngIf="isSignedIn && isAdmin">Show completed orders</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/showoutstandingorders" *ngIf="isSignedIn && isAdmin">Show outstanding orders</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/showunpaidorders" *ngIf="isSignedIn && isAdmin">Show unpaid orders</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/printalluserorders" *ngIf="isSignedIn && isAdmin">Print all orders</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/printcheckeduserorders" *ngIf="isSignedIn && isAdmin">Print checked orders</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/printoutstandinguserorders" *ngIf="isSignedIn && isAdmin">Print outstanding orders</a>
                </li>
                <li> 
                    <a class="nav-link" routerLink="/printunpaiduserorders" *ngIf="isSignedIn && isAdmin">Print unpaid orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile" *ngIf="isSignedIn">My Profile</a>
                </li>
                <li> 
                    <a class="nav-link" *ngIf="!isSignedIn" routerLink="/login">Log in</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/register" *ngIf="!isSignedIn">Register</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-primary" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
    </div>
</nav>