<div class="">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div *ngFor="let type of types">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="{{type.type}}" [checked]="type.isChecked" (change)="switchType($event)">
                    <label class="form-check-label" for="flexSwitchCheckDefault"> Show {{type.type}} type jobs</label>
                </div>
            </div>
            <div class="col">
                <label for="selectJob">Select Jobs</label>
                <!-- <app-multi-dropdown *ngFor="let item of jobs" (itemChange)="($event)"></app-multi-dropdown>></app-multi-dropdown> -->
                <select formControlName="jobs" multiple [ngClass]="{'form-select' : true,'error': f['jobs'].invalid && (f['jobs'].dirty || f['jobs'].touched)}" aria-label="Default select example" id="selectJob">
                    <option *ngFor="let item of jobs" [value]="item">{{item.name}} {{item.count}}$</option>
                </select>
            </div>
        </div>  
        <div class="form-group col-md-5">
            <label for="registration_date">Registration date</label>
            <input formControlName="registration_date" [ngClass]="{'form-control' : true,'error': f['registration_date'].invalid && (f['registration_date'].dirty || f['registration_date'].touched)}">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                I accept the terms of use
            </label>
        </div>
        <button [disabled]="form.invalid" type="submit" class="form-control col-md-1" class="btn btn-primary">Send</button>
      </form>
    </div>