<div class="container">
    <div class="card inner-main">
      <div class="card-header">
        User Profile
      </div>
      <div class="card-body">
        <p class="card-text">First name: <strong>{{userProfile.firstname}}</strong></p>
        <p class="card-text">Last name: <strong>{{userProfile.lastname}}</strong></p>
        <p class="card-text">Phone number: <strong>{{userProfile.phone_number}}</strong></p>
        <p class="card-text">Email: <strong>{{userProfile.email}}</strong></p>
      </div>
    </div>
  </div>